body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSotAd8qPSKJ6izzw4JGpNpOx35iaPfY_WbFaTI15RS7Ohn-ovxPGIY-TOzhDigwba6Ac0&usqp=CAU);
    background-position: center;
    background-size: cover;
}